<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <title>Logicman</title>
    </head>
    <header>
      <div class="header">
        <a href="/" class="logo">Logicman</a>
        <div class="header-right">
          <a href="dashboard">Admin</a>
          <a href="tablero">Usuarios</a>
        </div>
      </div>
      <hr>      
    </header>
    <br> <br>
    <body>
      <div class="container-fluid" style="padding-top: .5cm;">
        <div id="app">
          <div class="welcome-msg">
            <div id="tableDiv" class="table-responsive">
              <table id="tableData" class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Gender</th>
                    <th>Birthdate</th>
                    <th>Email</th>
                    <th>Recibir</th>
                  </tr>
                </thead>
                <tbody>
                  <%personas.forEach((persona)=>{%>
                  <tr>  
                    <td><%=persona.id%></td>
                    <td><%=persona.firstName%></td>
                    <td><%=persona.lastName%></td>
                    <td><%=persona.username%></td>
                    <td><%=persona.gender%></td>
                    <td><%=persona.birthdate%></td>
                    <td><%=persona.email%></td>
                    <td><%=persona.receiveMail%></td>
                  </tr>
                  <%});%>
                </tbody>
              </table>
            </div>
            <div class="buttons">
              <div class="left">
                <button ondblclick="resetTable()" type="button">RESET</button>
              </div>
              <div class="right">
                <button onclick="analyzeTable()" type="button">ANALIZAR</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script type='text/javascript' src="/js/funciones.js""></script>
    </body>
</html>